<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no"/>
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/css/base.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/home.css}"></link>
    <meta charset="UTF-8">
    <title>webscoket 主 页 </title>


</head>
<body>
    <div class="header-bg" id="c1">
        <div id="nav" class="default-nav">
            <div class="container-fluid">
                <div class="container">

                </div>
            </div>

        </div>
    </div>
    <div class="ctn-warp header-shade">
        <h1>
            "测试"
        </h1>
    </div>
</body>


</html>