<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no"/>
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/css/index.css}">
    <meta charset="UTF-8">
    <title>index</title>
</head>


<body>

<form action="#" th:action="@{/home/toSocket}" th:method="post">
<div class="mainDiv">
    <div class="div left">用户ID :</div>
    <div class="div right"><input class="largeInput" th:name="uid" type="text" placeholder="用户uid" id="uid"/></div>
</div>

<div class="mainDiv">
    <div class="div left">用户名 :</div>
    <div class="div right"><input type="text"  th:name="userName" placeholder="昵称" id="uid"/></div>
</div>

<div class="mainDiv">
     <button type="submit"  >去聊天</button>
</div>
</form>
<script th:src="@{/js/jquery.min.js}"></script>
</body>
</html>