<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>index</title>
</head>

<style>
.mainDiv {
    text-align: center;
    border-bottom: 1px solid;
    height: 50px;
    line-height: 50px;
    background-color: gainsboro
}

.div {

    display: inline;
    height: 30px;
}

</style>

<body>

<table>

    <div class="mainDiv">
        <div class="div one">用户名:</div>
        <div class="div two"><input type="text" placeholder="用户uid" id="uid"/></div>
    </div>

    <div class="mainDiv">
        <div class="div one">用户名:</div>
        <div class="div two"><input type="text" placeholder="用户uid" id="uid"/></div>
    </div>


</table>


</body>
</html>